body{
    background-color:#33475b;
    color:lightgray;
}
.header a{
    color: lightgray;
    text-decoration: none;
}
.toolbar{
    display:flex;
    justify-content: space-between;
    padding: 1px;
}
.toolbar-item{
    padding-top: 1px;
    float:right;
    margin-right: 20px;
}
.toolbar-navigation{
    float:left;
    margin-left: 20px;
}
.toolbar-search{
    display: inline-block;
}
.content-register{
    display:flex;
    justify-content: left;
}
.regInfo{
    margin-top: 50px;
}
.catalog-lists a{
    color: lightgray;
    font-size: 20px;

    text-decoration: none;
}
.catalog-list-item{
    padding-bottom: 10px;
}
.product-title{
    margin-left: 25px;
}