<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Admin - Pending Orders</title>
</head>
<body>
<div class="header">
    <div class="header-content">
        <div class="header-center">
            <a href="/">
                <h2>Måns' Webshop!</h2>
            </a>
        </div>
        <div class="header-right">
            <span class="logged-in-as" th:if="${loggedIn}" th:text="'Logged in as: ' + ${username}"></span>
            <span class="logged-in-as" th:unless="${loggedIn}">&nbsp</span>
        </div>
    </div>
    <hr/>
    <div class="toolbar">
        <div class="toolbar-navigation">
            <span>
                <a href="/categories">Catalog</a>
                <span>|</span>
            </span>
            <form class="toolbar-search" th:action="@{/search}" th:method="post">
                <input type="text" name="search" placeholder="Search" size="15" maxlength="20"/>
                <button type="submit">Search</button>
            </form>
        </div>

        <span class="toolbar-item" th:unless="${loggedIn}">
            <a href="/cart" th:text="${'ShoppingCart(' + cartQuant + ')'}"></a>
            <span>|</span>
            <a href="/login">Login</a>
            <span>|</span>
            <a href="/register">Register</a>
        </span>

        <span class="toolbar-item" th:if="${loggedIn}">
            <a th:if="${isAdmin}" href="/admin">Admin</a>
            <span th:if="${isAdmin}">|</span>
            <a href="/cart" th:text="${'ShoppingCart(' + cartQuant + ')'}"></a>
            <span>|</span>
            <a href="/logout">Logout</a>
        </span>
    </div>
    <hr/>
</div>
<div class="content">
    <div class="content-orders">
        <h2 class="page-title">Pending orders</h2>
        <form th:action="@{/admin/orders/update}" th:method="post">
            <table class="parent-table">
                <thead class="parent-table-header">
                <tr>
                    <th class="table-order-id-header">Order ID</th>
                    <th class="table-product-name-header">Product</th>
                    <th class="table-quantity-header">Quantity</th>
                    <th class="table-checkbox-header">Shipped</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td class="table-order" colspan="4">
                        <table class="nested-table">
                            <tbody>
                            <tr th:each="item,itemIndex : ${order.getOrderItemsAsList()}">
                                <td th:if="${itemIndex.index==0}" class="table-order-id" th:text="${order.getId()}"></td>
                                <td th:unless="${itemIndex.index==0}" class="table-order-id"></td>
                                <td class="table-product-names" th:text="${item.getProduct().getProductName()}"></td>
                                <td class="table-quantity" th:text="${item.getQuantity()}"></td>
                                <td th:if="${itemIndex.index==0}" class="table-checkbox"><input type="checkbox" name="orderId" th:value="${order.getId()}"></td>
                                <td th:unless="${itemIndex.index==0}" class="table-checkbox"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            <button type="submit">Save changes</button>
        </form>
    </div>
</div>
</body>
</html>
