<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Admin - Add product</title>
</head>
<body>
<div class="header">
    <div class="header-content">
        <div class="header-center">
            <a href="/">
                <h2>Måns' Webshop!</h2>
            </a>
        </div>
        <div class="header-right">
            <span class="logged-in-as" th:if="${loggedIn}" th:text="'Logged in as: ' + ${username}"></span>
            <span class="logged-in-as" th:unless="${loggedIn}">&nbsp</span>
        </div>
    </div>
    <hr/>
    <div class="toolbar">
        <div class="toolbar-navigation">
            <span>
                <a href="/categories">Catalog</a>
                <span>|</span>
            </span>
            <form class="toolbar-search" th:action="@{/search}" th:method="post">
                <input type="text" name="search" placeholder="Search" size="15" maxlength="20"/>
                <button type="submit">Search</button>
            </form>
        </div>

        <span class="toolbar-item" th:unless="${loggedIn}">
            <a href="/cart" th:text="${'ShoppingCart(' + cartQuant + ')'}"></a>
            <span>|</span>
            <a href="/login">Login</a>
            <span>|</span>
            <a href="/register">Register</a>
        </span>

        <span class="toolbar-item" th:if="${loggedIn}">
            <a th:if="${isAdmin}" href="/admin">Admin</a>
            <span th:if="${isAdmin}">|</span>
            <a href="/cart" th:text="${'ShoppingCart(' + cartQuant + ')'}"></a>
            <span>|</span>
            <a href="/logout">Logout</a>
        </span>
    </div>
    <hr/>
</div>
<div class="content">
    <div class="content-add-product">
        <h2 class="page-title">Add Product</h2>
        <form th:action="@{/admin/add-product}" th:method="post">
            <div>
                <input type="text" placeholder="Product name" name="productName" required>
            </div>
            <div>
                <input type="number" placeholder="Price" name="price" step=".01" min="0" pattern="\d+(\.\d{1,2})?"
                       title="Enter a number with max of 2 decimal places" required>
            </div>
            <div>
                <input type="number" placeholder="Stock amount" name="stock" min="0" required>
            </div>
            <div>
                <select name="categoryId" required>
                    <option value="" selected hidden disabled>Select Category</option>
                    <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getCategoryName()}"></option>
                </select>
            </div><br/>
            <button type="submit">Add Product</button>
        </form><br/>
        <span th:text="${addPrompt}"></span>
    </div>
</div>
</body>
</html>