<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div class="header">
    <div class="header-content">
        <div class="header-center">
            <a href="/">
                <h2>Måns' Webshop!</h2>
            </a>
        </div>
        <div class="header-right">
            <span class="logged-in-as" th:if="${loggedIn}" th:text="'Logged in as: ' + ${username}"></span>
            <span class="logged-in-as" th:unless="${loggedIn}">&nbsp</span>
        </div>
    </div>
    <hr/>
    <div class="toolbar">
        <div class="toolbar-navigation">
            <span>
                <a href="/categories">Catalog</a>
                <span>|</span>
            </span>
            <form class="toolbar-search" action="/search" method="post">
                <input type="text" name="search" placeholder="Search" size="15" maxlength="20"/>
                <button type="submit">Search</button>
            </form>
        </div>

        <span class="toolbar-item" th:unless="${loggedIn}">
            <a href="/cart" th:text="${'ShoppingCart(' + cartQuant + ')'}"></a>
            <span>|</span>
            <a href="/login">Login</a>
            <span>|</span>
            <a href="/register">Register</a>
        </span>

        <span class="toolbar-item" th:if="${loggedIn}">
            <a th:if="${isAdmin}" href="/admin">Admin</a>
            <span th:if="${isAdmin}">|</span>
            <a href="/cart" th:text="${'ShoppingCart(' + cartQuant + ')'}"></a>
            <span>|</span>
            <a href="/logout">Logout</a>
        </span>
    </div>
    <hr/>
</div>
<div class="content">
    <div>
        <h2 class="page-title">Admin menu</h2>
        <ul class="catalog-lists">
            <li class="catalog-list-item"><a href="/admin/orders/pending">Manage Pending Orders</a></li>
            <li class="catalog-list-item"><a href="/admin/orders/shipped">View Shipped Orders</a></li>
            <li class="catalog-list-item"><a href="/admin/create-product">Add Product</a></li>
        </ul>
    </div>

</div>
</body>
</html>