<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title th:text="${productTitle}"></title>
</head>
<body>
<div class="header">
    <a href="/"><h2 style="text-align: center">Måns' Webshop!</h2></a>
    <hr/>
    <div class="toolbar">
        <div class="toolbar-navigation">
            <span>
                <a href="/categories">Catalog</a>
                <span>|</span>
            </span>
            <form class="toolbar-search" action="/search" method="post">
                <input type="text" name="search" placeholder="Search" size="15" maxlength="20"/>
                <button type="submit">Search</button>
            </form>
        </div>

        <span class="toolbar-item" th:unless="${loggedIn}">
            <a href="/cart" th:text="${'ShoppingCart(' + cartQuant + ')'}"></a>
            <span>|</span>
            <a href="/login">Login</a>
            <span>|</span>
            <a href="/register">Register</a>
        </span>

        <span class="toolbar-item" th:if="${loggedIn}">
            <a href="/cart" th:text="${'ShoppingCart(' + cartQuant + ')'}"></a>
            <span>|</span>
            <a href="/logout">Logout</a>
        </span>
    </div>
    <hr/>
</div>
<div class="content">
    <div class="content-productDetails">
        <div th:unless="${productFound}">
            <h2 class="page-title" th:text="@{'No Product Found.'}"></h2>
        </div>
        <div th:if="${productFound}">
            <h2 class="page-title" th:text="${product.getProductName()}"></h2>
            <ul>
                <li th:text="${'Price: $' + product.getPrice}"></li>

                <li th:if="${product.getStock > 0}" th:text="${'In stock: ' + product.getStock}"></li>
                <li th:if="${product.getStock <= 0}" th:text="${'OUT OF STOCK'}"></li>

            </ul>
            <form class="quantity-form" th:action="${'/product/' + product.getId()}" method="post">
                <div th:if="${product.getStock > 0}" >
                    <input type="number" name="quantity" value="1" th:min="1" th:max="${product.getStock()}" required/>
                    <button type="submit">Add to cart</button><br/>
                </div>
                <div th:unless="${product.getStock > 0}">
                    <input type="number" name="quantity" th:min="1" th:max="${product.getStock()}" disabled/>
                    <button type="submit" disabled>Add to cart</button><br/>
                </div>
            </form>
            <p th:text="${orderPrompt}"></p>
        </div>

    </div>
</div>

</body>
</html>