<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div class="header">
    <div class="header-content">
        <div class="header-center">
            <a href="/">
                <h2>Måns' Webshop!</h2>
            </a>
        </div>
        <div class="header-right">
            <span class="logged-in-as" th:if="${loggedIn}" th:text="'Logged in as: ' + ${username}"></span>
            <span class="logged-in-as" th:unless="${loggedIn}">&nbsp</span>
        </div>
    </div>
    <hr/>
    <div class="toolbar">
        <div class="toolbar-navigation">
            <span>
                <a href="/categories">Catalog</a>
                <span>|</span>
            </span>
            <form class="toolbar-search" action="/search" method="post">
                <input type="text" name="search" placeholder="Search" size="15" maxlength="20"/>
                <button type="submit">Search</button>
            </form>
        </div>

        <span class="toolbar-item" th:unless="${loggedIn}">
            <a href="/cart" th:text="${'ShoppingCart(' + cartQuant + ')'}"></a>
            <span>|</span>
            <a href="/login">Login</a>
            <span>|</span>
            <a href="/register">Register</a>
        </span>

        <span class="toolbar-item" th:if="${loggedIn}">
            <a th:if="${isAdmin}" href="/admin">Admin</a>
            <span th:if="${isAdmin}">|</span>
            <a href="/cart" th:text="${'ShoppingCart(' + cartQuant + ')'}"></a>
            <span>|</span>
            <a href="/logout">Logout</a>
        </span>
    </div>
    <hr/>
</div>
<div class="content">
    <div class="content-register">
        <div class="regForm">
            <form th:action="@{/register}" method="post">
                <h2>Account registration</h2>
                <div>
                    <input type="text" name="username" placeholder="Enter username" size="15" maxlength="20"/>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Enter password" size="15" maxlength="20"/>
                </div>
                <div>
                    <input type="password" name="passwordRepeat" placeholder="Repeat password" size="15" maxlength="20"/>
                </div>
                <br/>

                <input type="Submit" value="Register"/>
            </form>
            <span th:text="${regMessage}"></span>
        </div>
        <div class="regInfo">
            <ul>
                <li>Credentials must be 5-20 characters.</li>
                <li>Username can only contain letters, numbers and symbols(._-).</li>
                <li>Passwords can only contain letters, numbers and symbols(!?&%@._-)</li>
            </ul>
        </div>

    </div>
</div>

</body>
</html>