<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>
<div class="header">
    <div class="header-content">
        <div class="header-center">
            <a href="/">
                <h2>Måns' Webshop!</h2>
            </a>
        </div>
        <div class="header-right">
            <span class="logged-in-as" th:if="${loggedIn}" th:text="'Logged in as: ' + ${username}"></span>
            <span class="logged-in-as" th:unless="${loggedIn}">&nbsp</span>
        </div>
    </div>
    <hr/>
    <div class="toolbar">
        <div class="toolbar-navigation">
            <span>
                <a href="/categories">Catalog</a>
                <span>|</span>
            </span>
            <form class="toolbar-search" action="/search" method="post">
                <input type="text" name="search" placeholder="Search" size="15" maxlength="20"/>
                <button type="submit">Search</button>
            </form>
        </div>

        <span class="toolbar-item" th:unless="${loggedIn}">
            <a href="/cart" th:text="${'ShoppingCart(' + cartQuant + ')'}"></a>
            <span>|</span>
            <a href="/login">Login</a>
            <span>|</span>
            <a href="/register">Register</a>
        </span>

        <span class="toolbar-item" th:if="${loggedIn}">
            <a th:if="${isAdmin}" href="/admin">Admin</a>
            <span th:if="${isAdmin}">|</span>
            <a href="/cart" th:text="${'ShoppingCart(' + cartQuant + ')'}"></a>
            <span>|</span>
            <a href="/logout">Logout</a>
        </span>
    </div>
    <hr/>
</div>
<div class="content">
    <div class="content-cart">
        <h2 class="page-title">Shopping cart</h2>
        <ul th:unless="${cartIsEmpty}">
            <li th:each="item,itemIndex : ${cartItems}">
                <form th:action="@{/changeQuantity}" method="post">
                    <input type="hidden" name="itemId" th:value="${itemIndex.index}">
                    <div class="cart-item">
                        <div class="product-name">
                            <span th:text="${item.getProductName()}"></span>
                        </div>
                        <div class="price-and-buttons">
                            <div class="product-price">
                                <span th:text="${'- $' + item.getCombinedPrice()}"></span>
                            </div>
                            <div class="button-row">
                                <span><button type="submit" name="action" value="decrease">-</button></span>
                                <span th:text="${item.getQuantity()}"></span>
                                <button th:if="${item.getQuantity() >= item.getProductStock()}"
                                        type="submit" name="action" value="increase" disabled>+</button>
                                <button th:unless="${item.getQuantity() >= item.getProductStock()}"
                                        type="submit" name="action" value="increase">+</button>
                            </div>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
        <p th:if="${cartIsEmpty}" class="cart-empty">Cart is empty!</p>
        <div class="total-price-and-order">
            <span th:text="${'Total price: $' + totalPrice}"></span><br/>
            <form th:action="@{/order}" method="get">
                <button th:if="${totalPrice > 0}" type="submit">Checkout</button>
                <button th:unless="${totalPrice > 0}" type="submit" disabled>Checkout</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>